logic-app-definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "triggers": {
    "Atlassian_guard_webhook": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "method": "POST",
        "schema": {
          "type": "object",
          "properties": {
            "alertId": { "type": "string" },
            "alertTitle": { "type": "string" },
            "alertDetailURL": { "type": "string" },
            "detectionTime": { "type": "integer" },
            "activity": { "type": "object" },
            "actor": { "type": "object" },
            "alert": { "type": "object" },
            "id": { "type": "string" },
            "timestamp": { "type": "integer" },
            "type": { "type": "string" },
            "workspace": { "type": "object" }
          }
        }
      }
    }
  },
  "actions": {
    "Initialize_DCELogsIngestionURL": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "DCELogsIngestionURL",
            "type": "string",
            "value": "${DCE_URL}"
          }
        ]
      }
    },
    "Initialize_DCRImmutableID": {
      "type": "InitializeVariable",
      "runAfter": {
        "Initialize_DCELogsIngestionURL": ["Succeeded"]
      },
      "inputs": {
        "variables": [
          {
            "name": "DCRImmutableID",
            "type": "string",
            "value": "${DCR_IMMUTABLE_ID}"
          }
        ]
      }
    },
    "Initialize_StreamName": {
      "type": "InitializeVariable",
      "runAfter": {
        "Initialize_DCRImmutableID": ["Succeeded"]
      },
      "inputs": {
        "variables": [
          {
            "name": "StreamName",
            "type": "string",
            "value": "Custom-atlassian_guard_detect_CL"
          }
        ]
      }
    },
    "Get_Atlassian_Webhook_Token": {
      "type": "Http",
      "runAfter": {
        "Initialize_StreamName": ["Succeeded"]
      },
      "inputs": {
        "method": "GET",
        "uri": "https://${KV}.vault.azure.net/secrets/${WEBHOOK_SECRET_NAME}?api-version=7.4",
        "authentication": {
          "type": "ManagedServiceIdentity",
          "audience": "https://vault.azure.net"
        }
      }
    },
    "Validate_webhook_token": {
      "type": "If",
      "runAfter": {
        "Get_Atlassian_Webhook_Token": ["Succeeded"]
      },
      "expression": "@equals(coalesce(triggerOutputs()?['headers']?['X-Automation-Webhook-Token'], triggerOutputs()?['headers']?['x-automation-webhook-token']), body('Get_Atlassian_Webhook_Token')?['value'])",
      "actions": {
        "Build_records_array": {
          "type": "Compose",
          "inputs": [
            {
              "TimeGenerated": "@utcNow()",
              "AlertId": "@triggerBody()?['alertId']",
              "AlertTitle": "@triggerBody()?['alertTitle']",
              "AlertDetailURL": "@triggerBody()?['alertDetailURL']",
              "DetectionTime": "@triggerBody()?['detectionTime']",
              "ActivityAction": "@triggerBody()?['activity']?['action']",
              "ActorAccountId": "@triggerBody()?['actor']?['accountId']",
              "ActorName": "@triggerBody()?['actor']?['name']",
              "ActorSessions": "@triggerBody()?['actor']?['sessions']",
              "AlertProduct": "@triggerBody()?['alert']?['product']",
              "AlertSite": "@triggerBody()?['alert']?['site']",
              "AlertUrl": "@triggerBody()?['alert']?['url']",
              "EventId": "@triggerBody()?['id']",
              "EventType": "@triggerBody()?['type']",
              "Timestamp": "@triggerBody()?['timestamp']",
              "WorkspaceId": "@triggerBody()?['workspace']?['id']"
            }
          ]
        },
        "Send_to_Azure_Monitor": {
          "type": "Http",
          "runAfter": {
            "Build_records_array": ["Succeeded"]
          },
          "inputs": {
            "method": "POST",
            "uri": "@concat(variables('DCELogsIngestionURL'), '/dataCollectionRules/', variables('DCRImmutableID'), '/streams/', variables('StreamName'), '?api-version=2023-01-01')",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('Build_records_array')",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://monitor.azure.com"
            }
          }
        },
        "Success_Response": {
          "type": "Response",
          "kind": "Http",
          "runAfter": {
            "Send_to_Azure_Monitor": ["Succeeded"]
          },
          "inputs": {
            "statusCode": 200,
            "body": "OK"
          }
        }
      },
      "else": {
        "actions": {
          "Unauthorized_Response": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 401,
              "body": {
                "error": "Unauthorized"
              }
            }
          }
        }
      }
    }
  }
}
